$primary-color: #c6ff00;
$primary-color-light: #fdff58;
$primary-color-dark: #90cc00;
$background-color: #263238;
$background-color-light: #4f5b62;
$background-color-dark: #000a12;

$money-change-positive: #8fff4e77;
$money-change-negative: #ff555577;

$text-color: #fefefe;
